@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    div {
        text-align: center;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Stand Auto</h1>
    <br>
    <h2 class="display-4">Bem-Vindo/Welcome</h2>
</div>
<br>
<br>
<br>
<h4>Aqui podes adicionar Automóveis ao teu Stand, comprar, vender e ver os lucros em contabilidade entre outras funcionalidades..</h4>
<div>
    <img src="~/Imagens/CarroHome.jpg" height="500" width="800" asp-append-version="true" />
</div>
