@page
@model WebApplicationStandAuto.Pages.sobrenosModel
@{
    ViewData["Title"] = "SobreNós";
}
<h1>@ViewData["Title"]</h1>
<br />
<br />
<br />
<br />
<p>
Este projeto foi realizado por Pedro Ferreira a prepósito da UFCD de Projeto Final (25 Horas) do Curso de Programador Informático em 2023, onde a ideia era criar um aplicação web para uso de Stands de automóveis e comerciantes Auto, que nos dá a possibilidade de termos varias funcionalidades e acesso a uma base de dados.
</p>
<br />
<br />
<p><center>Site realizado por: </center></p>
<br />
<br />
<div style="background-color: white; width: 100%; height: 200px;">
        <center><img src="~/Imagens/FotoP.jpg" style="width:256px;height:144px;object-fit:contain; max-width: 100%; object-position:center" alt="Imagem"></center>
        <p><center>Pedro Ferreira</center></p>
</div>